@model IEnumerable<AirLineTicketsApp.Entities.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlysNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLoading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketsPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlysNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLoading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plane.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
